@keyframes foo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

#foo {
    background-color: green;
    animation: 2s infinite foo;
}

.foo {
    color: red;
    text-shadow: 0.1em 0.1em #ffffff;
}
