@keyframes foo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

#foo {
    text-align: center;
    animation: 2s infinite foo;
}

.foo {
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    font-size: 30px;
}
